.containtbar {
  width: calc(100% - 200px);
  border: 1px solid #ddd;
  height: 100vh;
  overflow: auto;
  padding: 30px;
}
.layoutcontainer {
  display: flex;
}
.sidebarcontainer {
  height: 100vh;
  width: 200px;
  border-right: 1px solid black;
  overflow: auto;
  padding-top: 20px;
}

.sidebarcontainer ul li a{ text-align: left; color: #333;}
.sidebar-navitem{
  color: black;
  text-decoration: none;
}
.sidebarcontainer ul li span{
  margin-left: 8px;
}
.fixTableHead {
  overflow-y: auto;

  height: 380px;
}

.fixTableHead thead th {
  position: sticky;

  top: -1px;

  background-color: #f1f1f1;

  opacity: 1;

  z-index: 1;
}

.fixTableHead td {
  position: relative;
}

.boxlistContainer {
  border: "1px solid blue";
  height: "auto";
  margin-top: 5px;
}
.select-box {
  text-align: left;
  width: 40%;
}
.appraisal-listing {
  padding: 20px 0;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.appraisal-listing h4 {
  text-align: left;
  font-weight: 400;
}
.appraisal-listing thead th {
  font-weight: 400;
  font-size: 14px;
}
.appraisal-listing tbody th {
  font-weight: 400;
  font-size: 14px;
}
.skilllist td, .skilllist th {
  text-align: left;
}
.appraisal-form-skilllist tbody th{
  text-align: left;
}
.appraisal-form-skilllist td{
  text-align: center;
}
.appraisal-form-skilllist thead th:first-child {
 text-align: left;
}
.page-heading{
  text-align: left;
  border-bottom: 1px solid #333;
}


